doctype html
html
  head
    title 8398a7's Profile
    meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"
    meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN"
    link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"
    link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"
    link href="http://fonts.googleapis.com/css?family=Exo:400,800" rel="stylesheet"
    link href="./stylesheets/docs.min.css" rel="stylesheet"
    link href="./stylesheets/main.css" rel="stylesheet"
    link href="./stylesheets/colorbox.css" rel="stylesheet"
    link rel="icon" type="image/x-icon" href="./images/favicon.ico"

  body#top
    .background-img
    header.max-height
      .container
        .row.header
          .col-md-2
          .col-md-4.center
            img.img-circle.icon.shadow src="./images/maru.jpeg"
            h1.bold 8398a7
          .col-md-6.menu
            a href="#about_me"
              h4.bold
                i.fa.fa-user.fa-fw
                | &nbsp;About me
            a href="#research"
              h4.bold
                i.fa.fa-keyboard-o.fa-fw
                | &nbsp;Research
            a href="#sns_and_blog"
              h4.bold
                i.fa.fa-globe.fa-fw
                | &nbsp;SNS & Blog
            a href="#environment"
              h4.bold
                i.fa.fa-desktop.fa-fw
                | &nbsp;Environment
            a href="#club_activites"
              h4.bold
                i.fa.fa-child.fa-fw
                | &nbsp;Club activites
            a href="#projects"
              h4.bold
                i.fa.fa-code.fa-fw
                | &nbsp;Projects
        a.black.center.scroll.scroll-down href="#main"
          h1.bold
            i.fa.fa-chevron-down
            | &nbsp;Scroll

    .main.shadow#main
      .container
        .row
          .col-md-9
            h2.bold#about_me
              i.fa.fa-user.fa-fw
              | &nbsp;About me
            .table-responsive
              table.table
                tbody
                  tr
                    th style="width: 120px;" Name
                    td style="width: 220px;" 8398a7
                    td 8398a7
                  tr
                    th rowspan="2" University
                    td 香川大学大学院 工学研究科
                    td Graduate School of Engineering, Kagawa University
                  tr
                    td 信頼性情報システム工学専攻
                    td Reliability-based Information Systems Engineering
                  tr
                    th Laboratory
                    td
                      | 安藤研究室&nbsp;
                      a.btn.btn-default.btn-xs href="http://www.eng.kagawa-u.ac.jp/~ando/" target="_blank"
                        i.fa.fa-external-link
                        | &nbsp;Web site
                    td Ando Laboratory
                  tr
                    th Year
                    td 博士前期過程 1年
                    td Master course, first year
                  tr
                    th Sport
                    td
                      | Gymkhana&nbsp;
                      a.youtube.btn.btn-danger.btn-xs href="https://www.youtube.com/embed/qADoP1pchX0"
                        i.fa.fa-external-link
                        | &nbsp;Youtube
                    td License -> JAGE C1, 四国 B, 近畿 B, 中国 B
                  tr
                    th Game
                    td
                      | iidx, BMS&nbsp;
                      a.youtube.btn.btn-danger.btn-xs href="https://www.youtube.com/embed/miL8CGMHHfs"
                        i.fa.fa-external-link
                        | &nbsp;Youtube

                    td ☆☆/★05/◆06/◎02/★13.50
            br

            h2.bold#research
              i.fa.fa-keyboard-o.fa-fw
              | &nbsp;Research
            .table-responsive
              table.table
                tbody
                  tr
                    th style="width: 120px;" キーワード
                    td 自然言語処理，NIE，推薦，リランキング
                  tr
                    th Keywords
                    td Natural Language Processing, Newspaper In Education, Recommendation, Re-ranking
            br

            h2.bold#sns_and_blog
              i.fa.fa-globe.fa-fw
              | &nbsp;SNS & Blog
            a.btn.btn-info href="https://twitter.com/8398a7" target="_blank"
              i.fa.fa-twitter
              | &nbsp;Twitter
            | &nbsp;
            /a.btn.btn-primary href="https://www.facebook.com/hico.horiuchi" target="_blank"
              i.fa.fa-facebook
              | &nbsp;Facebook
            | &nbsp;
            a.btn.btn-success href="https://github.com/8398a7" target="_blank"
              i.fa.fa-github-alt
              | &nbsp;GitHub
            | &nbsp;
            a.btn.btn-primary href="http://cl-354.hateblo.jp/" target="_blank"
              i.fa.fa-pencil-square-o
              | &nbsp;Blog
            br
            br

            h2.bold#environment
              i.fa.fa-desktop.fa-fw
              | &nbsp;Environment
            .table-responsive
              table.table
                tbody
                  tr
                    th style="width: 120px;" OS
                    td Ubuntu Server
                  tr
                    th Shell
                    td
                      | Zsh&nbsp;
                      a.btn.btn-default.btn-xs href="https://github.com/8398a7/zsh" target="_blank"
                        i.fa.fa-external-link
                        | &nbsp;My settings
                  tr
                    th Editor
                    td
                      | Vim&nbsp;
                      a.btn.btn-default.btn-xs href="https://github.com/8398a7/vim" target="_blank"
                        i.fa.fa-external-link
                        | &nbsp;My settings
                  tr
                    th Language
                    td Ruby, PHP, C
                  tr
                    th Framework
                    td
                      | Ruby on Rails
            br

            h2.bold#club_activites
              i.fa.fa-child.fa-fw
              | &nbsp;Club activites
            ul
              li
                | SLP (Student Laboratory of Programming)&nbsp;
                a.btn.btn-default.btn-xs href="http://poulenc.eng.kagawa-u.ac.jp/Pub/Club/KBIT/" target="_blank"
                  i.fa.fa-external-link
                  | &nbsp;Web site
                  td
            br

            h2.bold#projects
              i.fa.fa-code.fa-fw
              | &nbsp;Projects
            h3#projects_personal Research
            ul
              li FCNR -> rails, For Children's NIE Recommendation，子供に新聞記事を推薦するシステム
            h3#projects_personal Personal
            ul
              li iidx ability sheet manage system(AS) -> PHP, 利用者23名(下記サービス本格稼働により公開停止)
              li
                | AS rails version
                a.btn.btn-default.btn-xs href="http://iidxas.tk/abilitysheet" target="_blank"
                  i.fa.fa-external-link
                  | &nbsp;Web site
                | -> rails, 上記拡張版, 公開開始，利用者576名
              li Seminar Life -> rails, ゼミ支援システム
            h3#projects_personal University
            ul
              h4 Exercise
              li ポーカーの戦略AI(C言語) -> 2012年度学内優勝
              li オリジナルボードゲームGOGOの戦略AI(JAVA) -> 2012, 2013年度学内優勝
              h4 2012
              li インターンシップ
              h4 2013
              li
                a href="http://www.sjciee.org/%E5%84%AA%E7%A7%80%E7%99%BA%E8%A1%A8%E8%B3%9E-%E8%8B%B1%E8%AA%9E%E7%99%BA%E8%A1%A8%E5%A5%A8%E5%8A%B1%E8%B3%9E/%E5%B9%B3%E6%88%9025%E5%B9%B4%E5%BA%A6%E5%8F%97%E8%B3%9E%E8%80%85/" target="_blank" 電気関係学会四国支部連合大会 優秀発表賞
              li
                a href="http://www.kagawa-u.ac.jp/information/approach/dream/25/" target="_blank" 食堂メニュー電子化による食堂支援プロジェクト
              h4 2014
              li
                a href="http://www.kagawa-u.ac.jp/files/8914/0541/0983/H26saitakuitiran.pdf" target="_blank" 香大生と地域の交流を促すアドプリプロジェクト
              li
                a href="http://www.hitachi.co.jp/recruit/internship/" target="_blank" 日立製作所[ITプラットフォーム事業本部] 夏季インターンシップ->超高速データベースエンジンの開発
              h4 2015
              li
                a href="http://www.hitachi.co.jp/recruit/internship/" target="_blank" 日立製作所[横浜研究所] 冬季インターンシップ->ソーシャルメディア/オープンデータを活用したレコメンド技術の研究
              li
                a href="http://www.nintendo.co.jp/jobs/internship/index.html" target="_blank" 任天堂 冬季インターンシップ->ネットワーク開発コース
            h3#projects_club_activites Club activies
            ul
              li
                a href="http://www.cs.titech.ac.jp/icpc2012/" target="_blank" ACM-ICPC 2012
              li
                a href="http://icpc.iisf.or.jp/domestic/2013d/" target="_blank" ACM-ICPC 2013
              li
                a href="http://icpc.iisf.or.jp/2014-waseda/domestic/" target="_blank" ACM-ICPC 2014
              li
                a href="http://2014.seccon.jp/" target="_blank" SECCON 2014
            /ul
              li
                a href="https://github.com/hico-horiuchi/comic_release.rb" target="_blank" hico-horiuchi/comic_release.rb
              li
                a href="https://github.com/hico-horiuchi/labo-life_rails" target="_blank" hico-horiuchi/labo-life_rails
              li
                a href="https://github.com/hico-horiuchi/snmp_monitor" target="_blank" hico-horiuchi/snmp_monitor
              li
                a href="https://github.com/hico-horiuchi/huboco" target="_blank"
                  | hico-horiuchi/huboco&nbsp;
                  span.label.label-info New
            /h3#projects_club_activites Club activites
            /ul
              li
                a href="https://github.com/SLP-KBIT/newton" target="_blank" SLP-KBIT/newton
              li
                a href="https://github.com/SLP-KBIT/slp_portal" target="_blank" SLP-KBIT/slp_portal
            br

          .col-md-3
            .bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm role="complementary"
              ul.nav.bs-docs-sidenav
                li
                  a href="#about_me"
                    i.fa.fa-user.fa-fw
                    | &nbsp;About me
                li
                  a href="#research"
                    i.fa.fa-keyboard-o.fa-fw
                    | &nbsp;Research
                li
                  a href="#sns_and_blog"
                    i.fa.fa-globe.fa-fw
                    | &nbsp;SNS & Blog
                li
                  a href="#environment"
                    i.fa.fa-desktop.fa-fw
                    | &nbsp;Environment
                li
                  a href="#club_activites"
                    i.fa.fa-child.fa-fw
                    | &nbsp;Club activites
                li
                  a href="#projects"
                    i.fa.fa-code.fa-fw
                    | &nbsp;Projects
                  ul.nav
                    li
                      a href="#projects_personal" Personal
                    li
                      a href="#projects_club_activites" Club activites

      a.black.center.scroll href="#top"
        h1.bold
          i.fa.fa-chevron-up
          | &nbsp;Top

    footer.footer
      p.bold &copy; 2014 Akihiko Horiuchi, All Rights Reserved.
      script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
      script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"
      script type="text/javascript" src="./javascripts/docs.min.js"
      script type="text/javascript" src="./javascripts/jquery.colorbox.js"
      script type="text/javascript" src="./javascripts/colorbox.js"

    javascript:
      $(function(){
        $('a[href^=#]').click(function(){
          var speed = 500;
          var href= $(this).attr('href');
          var target = $(href == '#' || href == '' ? 'html' : href);
          var position = target.offset().top;
          $('html, body').animate({scrollTop:position}, speed, 'swing');
          return false;
        });
      });
