img.responsive-img {
  max-width: 100%;
  height: auto;
}

i.fa {
  padding-right: 5px;
}

.flexbox-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexbox-column {
  width: 49%;
  flex-direction: column;
}
